*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: solid 1px black;
    text-align: center;
   
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.group1{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    flex-wrap: wrap;
}
.box{
    padding: 70px 90px;
    border: solid 1px rgb(199, 19, 19);
    border-radius: 10px;
}
.group2{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    flex-wrap: wrap;

}
.group3{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    flex-wrap: wrap;
   
}



